.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.h1{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.enter-button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background: linear-gradient(
    135deg,
    #000000,
    #1e3a8a,
    #16a34a,
    #9333ea
  );
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.rotating-text-wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: linear-gradient(
    135deg,
    #000000,
    #1e3a8a,
    #16a34a,
    #9333ea
  );

}
.rotating-text-wrapper {
  height:90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  animation: bgChange 8s infinite alternate;
}

@keyframes bgChange {
  0% { background-color: #000000; }
  33% { background-color: #1e3a8a; }
  66% { background-color: #16a34a; }
  100% { background-color: #b33c21; }
}
.rotating-text-wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: linear-gradient(
    -45deg,
    #000000,
    #1e3a8a,
    #16a34a,
    #9333ea
  );
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.rotating-text-wrapper h2 {
  font-size: 2.5em;
  margin: 0;
  padding: 0.3em;
  color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  animation-duration: 9s;
  animation-iteration-count: infinite;
  opacity: 0;
  
}

.rotating-text-wrapper h2:nth-child(1) {
  background-color: lightseagreen;
  animation-name: rotating-text-1;
}
@keyframes rotating-text-1 {
  0% {
    transform: translateY(200%);
  }
  33% {
    transform: translateY(100%);
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
}
.rotating-text-wrapper h2:nth-child(2) {
  background-color: tomato;
  animation-name: rotating-text-2;
}
@keyframes rotating-text-2 {
  33% {
    transform: translateY(100%);
    opacity: 0;
  }
  66% {
    transform: translateY(0);
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
}
.rotating-text-wrapper h2:nth-child(3) {
  background-color: cornflowerblue;
  animation-name: rotating-text-3;
}
@keyframes rotating-text-3 {
  66% {
    transform: translateY(0);
    opacity: 0;
  }
  99% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@media screen and (max-width: 576px) {
  .rotating-text-wrapper {
    font-size: 0.7rem;
  }
}
